<div  class="container">
  <div class="row">
    <div style = "box-shadow:  5px 5px 5px 5px #888888;" class="col-md-8 col-md-offset-2">
      <div #scrollMe class="bs-example" id="messages">
        <div *ngFor="let message of messages | async">
          <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
            <p>{{ message.message }}</p>
            <div class="author">
              {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
            </div>
          </div>
        </div>

      </div>

      <figure class="highlight">
        <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <a style ="position: relative;
    left: 40%;" class="btn btn-info" (click)="sendMessage()">Send Message</a>
      </figure>
    </div>
  </div>
</div>

<canvas id="projector">Your browser does not support the Canvas element.</canvas>